In [3]:
import pandas as pd
import random as rd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np

In [11]:
#istatiksel testler sınvada mutlaka çıkar
x = np.random.normal(loc=0.5, scale=1, size=20)
y = np.random.normal(loc=1.5, scale=1, size=20)

In [13]:
import scipy.stats as sts
sts.shapiro(x) #normallik testi h0 hipotezi elimdeki verinin dağılımı ile normal dağılım rarsında bir fark yoktur. sınavda yazdırı 
# anlamlılık değeri 0.05 bu değerden büyük olduğu için h0 hipotezi doğrudur

ShapiroResult(statistic=0.9488819241523743, pvalue=0.3504367470741272)

In [12]:
 sts.shapiro(y) #p>0.05 ollduğu için veri normal dağılmaktadır

ShapiroResult(statistic=0.9573004245758057, pvalue=0.49142971634864807)

In [14]:
from statsmodels.stats.diagnostic import lilliefors
lilliefors(x, pvalmethod="approx")
lilliefors(y, pvalmethod="approx")

(0.0900414638725705, 0.9396082503550632)

In [16]:
import sfrancia  as sf # bu 3 test de normallik testidir
sf.shapiroFrancia(x)
sf.shapiroFrancia(y)

{'method': 'Shapiro-Francia normality test',
 'statistics W': 0.9689272026336413,
 'statistics z': -0.3606774214601013,
 'p-value': 0.6408296973836191}

In [19]:
sts.ttest_ind(x, y, equal_var=True) # 2 testin ortalamaları arasında bir far mı var mı diye uygulnan tets

TtestResult(statistic=-2.9111849188603567, pvalue=0.00599378463261712, df=38.0)

In [20]:
#h0 = 1. ve 2.  verilerin arasında bir fark yoktur
#h1 = 1. ve 2.  verilerin arasında bir fark vardır
# h0 reddedilir iki test arsında bir fark vardır h1 hipotezi kabul edilir

In [21]:
icu = pd.read_csv("ICUData.csv")
icu

,ID,sex,age,surgery,heart rate,temperature,bilirubin,SAPS II,liver failure,LOS,outcome
0,1,female,76,other,98.0,36.5,6.512142,57,0,1,died
1,2,female,60,gastrointestinal,80.0,38.1,14.523197,52,0,2,home
2,3,male,66,cardiothoracic,99.6,37.4,22.972480,57,0,1,secondary care/rehab
3,4,male,74,other,110.0,39.1,19.299346,45,0,2,home
4,5,female,68,other,94.1,38.5,39.076485,49,0,1,home
...,...,...,...,...,...,...,...,...,...,...,...
495,496,male,62,cardiothoracic,118.0,37.3,13.234537,33,0,1,secondary care/rehab
496,497,male,67,cardiothoracic,115.0,38.0,10.740772,56,0,1,died
497,498,female,53,cardiothoracic,131.0,37.9,14.131188,38,0,3,secondary care/rehab
498,499,male,68,other,86.9,36.0,9.596478,66,0,2,home
499,500,male,75,cardiothoracic,92.0,37.6,11.660875,25,0,1,secondary care/rehab

In [22]:
# hastaların ataeşleri 37.5 tan küçüktür h0 değildir h1

In [25]:
from scipy import stats  # boşta olan bu verinin önce silinmesi gerekiyor
data = icu.temperature.drop(397)
stats.ttest_1samp(data, popmean=37.5, alternative="greater")

TtestResult(statistic=4.197348728151364, pvalue=1.59934647255863e-05, df=498)

In [27]:
stats.ttest_1samp(icu.temperature, popmean=37.5, alternative="greater")

TtestResult(statistic=2.1027472872691644, pvalue=0.01799407119910482, df=499)

In [28]:
sts.shapiro(icu[icu.sex == "female"].temperature)
sts.shapiro(icu.drop(397)[icu.drop(397).sex == "male"].temperature) # normal dağılıyor mu test etmek gerekiyor

ShapiroResult(statistic=0.9879996180534363, pvalue=0.008832931518554688)

In [29]:
np.var(icu[icu.sex == "female"].temperature) # varyanslar yakın değil

1.5743588571428573

In [30]:
np.var(icu[icu.sex == "male"].temperature)

3.7756199763313605

In [32]:
np.var(icu.drop(397)[icu.drop(397).sex == "male"].temperature)
# aykırı veriyi çıkardığımızda varyanslar birbirine yaklaşıyor ama hala eşit değil

1.2580727023319616

In [34]:
sts.ttest_ind(icu[icu.sex == "female"].temperature, 
                icu[icu.sex == "male"].temperature, equal_var=False)
#h0 hipotezi kabul edilir

TtestResult(statistic=-0.3763844542391408, pvalue=0.7067968223676342, df=481.7086606343309)

In [35]:
sts.ttest_ind(icu.drop(397)[icu.drop(397).sex == "female"].temperature, 
                icu.drop(397)[icu.drop(397).sex == "male"].temperature, equal_var=False)
# aykırı değeri çıkardığımızda da ateş değerinin 37.5 in altına inemediği için h0 kabul edilmeye devam eder.

TtestResult(statistic=-1.2514171914600383, pvalue=0.21168583024595652, df=323.7324571156322)

In [38]:
sts.wilcoxon(icu.drop(397).temperature - 37.5, alternative="greater")
# h0 reddeiliyor

WilcoxonResult(statistic=69173.0, pvalue=0.00016697168360892)

In [40]:
stats.mannwhitneyu(icu[icu.sex == "female"].temperature, 
                   icu[icu.sex == "male"].temperature)
#fark vardır

MannwhitneyuResult(statistic=26387.5, pvalue=0.18333100511010658)

In [41]:
stats.mannwhitneyu(icu.drop(397)[icu.drop(397).sex == "female"].temperature, 
                icu.drop(397)[icu.drop(397).sex == "male"].temperature)

MannwhitneyuResult(statistic=26212.5, pvalue=0.16425374376579738)

In [43]:
group1 = icu[icu.sex == "female"].temperature
group2 = icu[icu.sex == "male"].temperature

#varyanslar hesaplanıyor
variance1 = np.var(group1, ddof=1)
variance2 = np.var(group2, ddof=1)

# f istatistiği hesaplanıyor
f_value = variance1 / variance2

# Serbestlik dereceleri hesaplanıyor
df1 = len(group1) - 1
df2 = len(group2) - 1

# p değeri hesaplanıyor
p_value = stats.f.cdf(f_value, df1, df2)

# sonuçlar yazdırılıyor
# Print the results
print('Degree of freedom 1:',df1)
print('Degree of freedom 2:',df2)
print("F-statistic:", f_value)
print("p-value:", p_value)
#varyanslar arasında bir gark vardır

Degree of freedom 1: 174
Degree of freedom 2: 324
F-statistic: 0.41808627065941445
p-value: 3.033044478412135e-10

In [46]:
icu_new = icu.drop(397)
group1 = icu_new[icu_new.sex == "female"].temperature
group2 = icu_new[icu_new.sex == "male"].temperature

#varyanslar hesaplanıyor
variance1 = np.var(group1, ddof=1)
variance2 = np.var(group2, ddof=1)

# f istatistiği hesaplanıyor
f_value = variance1 / variance2

# Serbestlik dereceleri hesaplanıyor
df1 = len(group1) - 1
df2 = len(group2) - 1

# p değeri hesaplanıyor
p_value = stats.f.cdf(f_value, df1, df2)

# sonuçlar yazdırılıyor
# Print the results
print('Degree of freedom 1:',df1)
print('Degree of freedom 2:',df2)
print("F-statistic:", f_value)
print("p-value:", p_value)
# aykırı değeri silince fark yoktur  diye yorumlanabilir p-value değerine baktık

Degree of freedom 1: 174
Degree of freedom 2: 323
F-statistic: 1.2547127326609122
p-value: 0.9586751048180714

In [48]:
stats.ansari(icu[icu.sex == "female"].temperature, icu[icu.sex == "male"].temperature)
#fark yoktur h1 reddedilmez 0.005 ten büyüktür

AnsariResult(statistic=20903.5, pvalue=0.16875529793204147)

In [49]:
stats.ansari(icu.drop(397)[icu.drop(397).sex == "female"].temperature, 
                icu.drop(397)[icu.drop(397).sex == "male"].temperature)

AnsariResult(statistic=20807.5, pvalue=0.14772436391272073)

In [50]:
# h0 3 sayısına yönelimi vardır h1 yoktur   h0 reddedilemez
sts.binomtest(k=6, n=24, p=1/6, alternative='greater')
# Bu p değeri (0,1995) 0,05'ten küçük olmadığı için sıfır hipotezini reddetmede başarısız oluyoruz. 
# Zarın "3" sayısına eğilimli olduğunu söyleyecek yeterli kanıtımız yok.

BinomTestResult(k=6, n=24, alternative='greater', statistic=0.25, pvalue=0.19952951294795865)

In [51]:
sts.binomtest(k=19, n=30, p=1/2, alternative='greater')
# Bu p değeri (0,10024) 0,05'ten küçük olmadığı için sıfır hipotezini reddedemiyoruz. 
# Madalyonun tura eğilimli olduğunu söyleyecek yeterli kanıtımız yok.

BinomTestResult(k=19, n=30, alternative='greater', statistic=0.6333333333333333, pvalue=0.10024421103298667)

In [53]:
#h0 reddedilemez pvalue 0.005 ten büyük bir değer geldi.
sts.binomtest(25, 500, p=0.05, alternative="less")

BinomTestResult(k=25, n=500, alternative='less', statistic=0.05, pvalue=0.5529388564087532)

In [54]:
result = pd.crosstab(icu['liver failure'], icu['sex'])
result

sex            female  male
liver failure
0                 168   312
1                   7    13

In [57]:
stats.fisher_exact(result) #palue 1 olduğu için ilişki vardır.

SignificanceResult(statistic=1.0, pvalue=1.0)

In [58]:
stats.pearsonr(icu.drop(397).temperature, icu.drop(397)["heart rate"])

PearsonRResult(statistic=0.29780332856061853, pvalue=1.1181485000082676e-11)

In [59]:
stats.spearmanr(icu.temperature, icu["heart rate"])

SignificanceResult(statistic=0.26599572175445046, pvalue=1.5207779303155718e-09)

In [60]:
stats.kendalltau(icu.temperature, icu["heart rate"])

SignificanceResult(statistic=0.18269029154469063, pvalue=1.9348573865883658e-09)

In [61]:
result_two = icu.groupby("outcome")["temperature"].apply(list)
stats.f_oneway(*result_two)

F_onewayResult(statistic=1.9571847180075135, pvalue=0.11950631981506887)

In [62]:
result_two = icu.drop(397).groupby("outcome")["temperature"].apply(list)
stats.f_oneway(*result_two)

F_onewayResult(statistic=5.2203056810786075, pvalue=0.0014810732049532949)

In [63]:
stats.shapiro(icu.drop(397).temperature)

ShapiroResult(statistic=0.9918887615203857, pvalue=0.008012347854673862)

In [64]:
# haftaya kümeleme ve

In [65]:
from statsmodels.stats.diagnostic import lilliefors

lilliefors(icu.drop(397).temperature, pvalmethod="approx")

(0.048498348779779654, 0.007001263561967399)

In [67]:
import sfrancia as sf

sf.shapiroFrancia(icu.drop(397).temperature)

{'method': 'Shapiro-Francia normality test',
 'statistics W': 0.9913109186379518,
 'statistics z': 2.5034940978078963,
 'p-value': 0.006148686573695381}