In [2]:
import pandas as pd

In [2]:
fruits = ["Elma", "Armut", "Kiraz"]
fruits

['Elma', 'Armut', 'Kiraz']

In [3]:
pd.Series(fruits)

0     Elma
1    Armut
2    Kiraz
dtype: object

In [9]:
example = {
    "Kitap" : 15,
    "Defter" :20,
    "Kalem" :30
}
example

{'Kitap': 15, 'Defter': 20, 'Kalem': 30}

In [10]:
pd.Series(example)

Kitap     15
Defter    20
Kalem     30
dtype: int64

In [6]:
fiyatlar = pd.Series([3, 2, 1, 1.5])
fiyatlar

0    3.0
1    2.0
2    1.0
3    1.5
dtype: float64

In [7]:
fiyatlar.sum() #toplam

7.5

In [8]:
fiyatlar.mean() #ortalama

1.875

In [9]:
fiyatlar.product() #tüm sayıların çarpımı

9.0

In [14]:
fiyatlar.std() # standart sapma
fiyatlar.min() # minimum değer
fiyatlar.max() # max değer
fiyatlar.median() # medyan
fiyatlar.mode() # mod

0    1.0
1    1.5
2    2.0
3    3.0
dtype: float64

In [6]:
deneme = pd.Series([1, 2, 3, "Soru"]) # series listeleme yapıyor 
deneme

0       1
1       2
2       3
3    Soru
dtype: object

In [17]:
try:
    deneme.sum() # hata yakalama için kulanılır 
except:
    print("Hata") # hata diye dönüt yazdırır

Hata

In [18]:
len(deneme)

4

In [19]:
deneme.size

4

In [7]:
deneme

0       1
1       2
2       3
3    Soru
dtype: object

In [8]:
deneme.is_unique

True

In [26]:
deneme.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
deneme.values

array([1, 2, 3, 'Soru', 1], dtype=object)

In [9]:
meyveler = ["Elma", "Armut", "Kiraz"]
gunler = ["Pazartesi", "Salı", "Çarşamba"]

In [13]:
pd.Series(meyveler, gunler) # ilk verilen nesne data 2. index olur

Pazartesi     Elma
Salı         Armut
Çarşamba     Kiraz
dtype: object

In [12]:
pd.Series(index=meyveler, data=gunler)

Elma     Pazartesi
Armut         Salı
Kiraz     Çarşamba
dtype: object

In [14]:
df = pd.read_csv("resources/pokemon.csv")
df

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [34]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df = pd.read_csv("resources/pokemon.csv", usecols=["Pokemon"])
df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [16]:
srs = pd.read_csv("resources/pokemon.csv", 
                  usecols=["Pokemon"]).squeeze("columns")
srs

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [37]:
type(srs)

pandas.core.series.Series

### srs.head(n=10)

In [43]:
srs.tail(n=8)

713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [46]:
sorted(srs, reverse=True)

['Zygarde',
 'Zweilous',
 'Zubat',
 'Zorua',
 'Zoroark',
 'Zigzagoon',
 'Zekrom',
 'Zebstrika',
 'Zapdos',
 'Zangoose',
 'Yveltal',
 'Yanmega',
 'Yanma',
 'Yamask',
 'Xerneas',
 'Xatu',
 'Wynaut',
 'Wurmple',
 'Wormadam',
 'Wooper',
 'Woobat',
 'Wobbuffet',
 'Wingull',
 'Wigglytuff',
 'Whismur',
 'Whiscash',
 'Whirlipede',
 'Whimsicott',
 'Weezing',
 'Weepinbell',
 'Weedle',
 'Weavile',
 'Watchog',
 'Wartortle',
 'Walrein',
 'Wailord',
 'Wailmer',
 'Vulpix',
 'Vullaby',
 'Voltorb',
 'Volcarona',
 'Volcanion',
 'Volbeat',
 'Vivillon',
 'Virizion',
 'Vileplume',
 'Vigoroth',
 'Victreebel',
 'Victini',
 'Vibrava',
 'Vespiquen',
 'Venusaur',
 'Venonat',
 'Venomoth',
 'Venipede',
 'Vaporeon',
 'Vanilluxe',
 'Vanillite',
 'Vanillish',
 'Uxie',
 'Ursaring',
 'Unown',
 'Unfezant',
 'Umbreon',
 'Tyrunt',
 'Tyrogue',
 'Tyrantrum',
 'Tyranitar',
 'Typhlosion',
 'Tynamo',
 'Tympole',
 'Turtwig',
 'Trubbish',
 'Tropius',
 'Trevenant',
 'Treecko',
 'Trapinch',
 'Tranquill',
 'Toxicroak',
 'Totodile',
 'Torterra',
 'Tornadus',
 'Torkoal',
 'Torchic',
 'Togetic',
 'Togepi',
 'Togekiss',
 'Tirtouga',
 'Timburr',
 'Thundurus',
 'Throh',
 'Terrakion',
 'Tepig',
 'Tentacruel',
 'Tentacool',
 'Teddiursa',
 'Tauros',
 'Tangrowth',
 'Tangela',
 'Talonflame',
 'Taillow',
 'Sylveon',
 'Swoobat',
 'Swirlix',
 'Swinub',
 'Swellow',
 'Swanna',
 'Swampert',
 'Swalot',
 'Swadloon',
 'Swablu',
 'Surskit',
 'Sunkern',
 'Sunflora',
 'Suicune',
 'Sudowoodo',
 'Stunky',
 'Stunfisk',
 'Stoutland',
 'Steelix',
 'Staryu',
 'Starmie',
 'Starly',
 'Staravia',
 'Staraptor',
 'Stantler',
 'Squirtle',
 'Spritzee',
 'Spoink',
 'Spiritomb',
 'Spinda',
 'Spinarak',
 'Spheal',
 'Spewpa',
 'Spearow',
 'Solrock',
 'Solosis',
 'Snubbull',
 'Snover',
 'Snorunt',
 'Snorlax',
 'Snivy',
 'Sneasel',
 'Smoochum',
 'Smeargle',
 'Slurpuff',
 'Slugma',
 'Slowpoke',
 'Slowking',
 'Slowbro',
 'Sliggoo',
 'Slakoth',
 'Slaking',
 'Skuntank',
 'Skrelp',
 'Skorupi',
 'Skitty',
 'Skiploom',
 'Skiddo',
 'Skarmory',
 'Simisear',
 'Simisage',
 'Simipour',
 'Silcoon',
 'Sigilyph',
 'Shuppet',
 'Shuckle',
 'Shroomish',
 'Shinx',
 'Shiftry',
 'Shieldon',
 'Shelmet',
 'Shellos',
 'Shellder',
 'Shelgon',
 'Shedinja',
 'Shaymin',
 'Sharpedo',
 'Sewaddle',
 'Seviper',
 'Servine',
 'Serperior',
 'Sentret',
 'Seismitoad',
 'Seel',
 'Seedot',
 'Sealeo',
 'Seaking',
 'Seadra',
 'Scyther',
 'Scraggy',
 'Scrafty',
 'Scolipede',
 'Scizor',
 'Sceptile',
 'Scatterbug',
 'Sawsbuck',
 'Sawk',
 'Sandslash',
 'Sandshrew',
 'Sandile',
 'Samurott',
 'Salamence',
 'Sableye',
 'Rufflet',
 'Rotom',
 'Roserade',
 'Roselia',
 'Roggenrola',
 'Riolu',
 'Rhyperior',
 'Rhyhorn',
 'Rhydon',
 'Reuniclus',
 'Reshiram',
 'Remoraid',
 'Relicanth',
 'Registeel',
 'Regirock',
 'Regigigas',
 'Regice',
 'Rayquaza',
 'Rattata',
 'Raticate',
 'Rapidash',
 'Rampardos',
 'Ralts',
 'Raikou',
 'Raichu',
 'Qwilfish',
 'Quilladin',
 'Quilava',
 'Quagsire',
 'Pyroar',
 'Purugly',
 'Purrloin',
 'Pupitar',
 'Pumpkaboo',
 'Psyduck',
 'Probopass',
 'Prinplup',
 'Primeape',
 'Porygon2',
 'Porygon-Z',
 'Porygon',
 'Poochyena',
 'Ponyta',
 'Poliwrath',
 'Poliwhirl',
 'Poliwag',
 'Politoed',
 'Plusle',
 'Piplup',
 'Pinsir',
 'Pineco',
 'Piloswine',
 'Pikachu',
 'Pignite',
 'Pidove',
 'Pidgey',
 'Pidgeotto',
 'Pidgeot',
 'Pichu',
 'Phione',
 'Phantump',
 'Phanpy',
 'Petilil',
 'Persian',
 'Pelipper',
 'Pawniard',
 'Patrat',
 'Parasect',
 'Paras',
 'Pansear',
 'Pansage',
 'Panpour',
 'Pangoro',
 'Pancham',
 'Palpitoad',
 'Palkia',
 'Pachirisu',
 'Oshawott',
 'Onix',
 'Omastar',
 'Omanyte',
 'Oddish',
 'Octillery',
 'Nuzleaf',
 'Numel',
 'Nosepass',
 'Noivern',
 'Noibat',
 'Noctowl',
 'Ninjask',
 'Ninetales',
 'Nincada',
 'Nidorino',
 'Nidorina',
 'Nidoran♂',
 'Nidoran',
 'Nidoqueen',
 'Nidoking',
 'Natu',
 'Musharna',
 'Murkrow',
 'Munna',
 'Munchlax',
 'Muk',
 'Mudkip',
 'Mr. Mime',
 'Mothim',
 'Monferno',
 'Moltres',
 'Mismagius',
 'Misdreavus',
 'Minun',
 'Minccino',
 'Mime Jr.',
 'Miltank',
 'Milotic',
 'Mightyena',
 'Mienshao',
 'Mienfoo',
 'Mewtwo',
 'Mew',
 'Metapod',
 'Metang',
 'Metagross',
 'Mesprit',
 'Meowth',
 'Meowstic',
 'Meloetta',
 'Meganium',
 'Meditite',
 'Medicham',
 'Mawile',
 'Masquerain',
 'Marshtomp',
 'Marowak',
 'Marill',
 'Mareep',
 'Maractus',
 'Mantyke',
 'Mantine',
 'Mankey',
 'Manectric',
 'Mandibuzz',
 'Manaphy',
 'Mamoswine',
 'Malamar',
 'Makuhita',
 'Magnezone',
 'Magneton',
 'Magnemite',
 'Magmortar',
 'Magmar',
 'Magikarp',
 'Magcargo',
 'Magby',
 'Machop',
 'Machoke',
 'Machamp',
 'Luxray',
 'Luxio',
 'Luvdisc',
 'Lunatone',
 'Lumineon',
 'Lugia',
 'Ludicolo',
 'Lucario',
 'Loudred',
 'Lotad',
 'Lopunny',
 'Lombre',
 'Litwick',
 'Litleo',
 'Linoone',
 'Lillipup',
 'Lilligant',
 'Lileep',
 'Liepard',
 'Lickitung',
 'Lickilicky',
 'Ledyba',
 'Ledian',
 'Leavanny',
 'Leafeon',
 'Latios',
 'Latias',
 'Larvitar',
 'Larvesta',
 'Lapras',
 'Lanturn',
 'Landorus',
 'Lampent',
 'Lairon',
 'Kyurem',
 'Kyogre',
 'Krookodile',
 'Krokorok',
 'Kricketune',
 'Kricketot',
 'Krabby',
 'Koffing',
 'Klinklang',
 'Klink',
 'Klefki',
 'Klang',
 'Kirlia',
 'Kingler',
 'Kingdra',
 'Keldeo',
 'Kecleon',
 'Karrablast',
 'Kangaskhan',
 'Kakuna',
 'Kadabra',
 'Kabutops',
 'Kabuto',
 'Jynx',
 'Jumpluff',
 'Joltik',
 'Jolteon',
 'Jirachi',
 'Jigglypuff',
 'Jellicent',
 'Ivysaur',
 'Inkay',
 'Infernape',
 'Illumise',
 'Igglybuff',
 'Hypno',
 'Hydreigon',
 'Huntail',
 'Houndour',
 'Houndoom',
 'Horsea',
 'Hoppip',
 'Hoothoot',
 'Hoopa',
 'Honedge',
 'Honchkrow',
 'Ho-oh',
 'Hitmontop',
 'Hitmonlee',
 'Hitmonchan',
 'Hippowdon',
 'Hippopotas',
 'Herdier',
 'Heracross',
 'Helioptile',
 'Heliolisk',
 'Heatran',
 'Heatmor',
 'Haxorus',
 'Hawlucha',
 'Haunter',
 'Hariyama',
 'Happiny',
 'Gyarados',
 'Gurdurr',
 'Gulpin',
 'Grumpig',
 'Growlithe',
 'Grovyle',
 'Groudon',
 'Grotle',
 'Grimer',
 'Greninja',
 'Graveler',
 'Granbull',
 'Gourgeist',
 'Gothorita',
 'Gothitelle',
 'Gothita',
 'Gorebyss',
 'Goomy',
 'Goodra',
 'Golurk',
 'Golett',
 'Golem',
 'Golduck',
 'Goldeen',
 'Golbat',
 'Gogoat',
 'Gloom',
 'Gliscor',
 'Gligar',
 'Glameow',
 'Glalie',
 'Glaceon',
 'Giratina',
 'Girafarig',
 'Gigalith',
 'Gible',
 'Geodude',
 'Gengar',
 'Genesect',
 'Gastrodon',
 'Gastly',
 'Gardevoir',
 'Garchomp',
 'Garbodor',
 'Galvantula',
 'Gallade',
 'Gabite',
 'Furret',
 'Furfrou',
 'Froslass',
 'Frogadier',
 'Froakie',
 'Frillish',
 'Fraxure',
 'Forretress',
 'Foongus',
 'Flygon',
 'Florges',
 'Floette',
 'Floatzel',
 'Fletchling',
 'Fletchinder',
 'Flareon',
 'Flabébé',
 'Flaaffy',
 'Finneon',
 'Ferrothorn',
 'Ferroseed',
 'Feraligatr',
 'Fennekin',
 'Feebas',
 'Fearow',
 "Farfetch'd",
 'Exploud',
 'Exeggutor',
 'Exeggcute',
 'Excadrill',
 'Espurr',
 'Espeon',
 'Escavalier',
 'Entei',
 'Empoleon',
 'Emolga',
 'Emboar',
 'Elgyem',
 'Elekid',
 'Electrode',
 'Electrike',
 'Electivire',
 'Electabuzz',
 'Ekans',
 'Eevee',
 'Eelektross',
 'Eelektrik',
 'Dwebble',
 'Dustox',
 'Duskull',
 'Dusknoir',
 'Dusclops',
 'Durant',
 'Duosion',
 'Dunsparce',
 'Dugtrio',
 'Ducklett',
 'Druddigon',
 'Drowzee',
 'Drilbur',
 'Drifloon',
 'Drifblim',
 'Dratini',
 'Drapion',
 'Dragonite',
 'Dragonair',
 'Dragalge',
 'Doublade',
 'Donphan',
 'Doduo',
 'Dodrio',
 'Ditto',
 'Diglett',
 'Diggersby',
 'Diancie',
 'Dialga',
 'Dewott',
 'Dewgong',
 'Deoxys',
 'Delphox',
 'Delibird',
 'Delcatty',
 'Deino',
 'Deerling',
 'Dedenne',
 'Darumaka',
 'Darmanitan',
 'Darkrai',
 'Cyndaquil',
 'Cubone',
 'Cubchoo',
 'Cryogonal',
 'Crustle',
 'Croconaw',
 'Crobat',
 'Croagunk',
 'Cresselia',
 'Crawdaunt',
 'Cranidos',
 'Cradily',
 'Cottonee',
 'Corsola',
 'Corphish',
 'Conkeldurr',
 'Combusken',
 'Combee',
 'Cofagrigus',
 'Cobalion',
 'Cloyster',
 'Cleffa',
 'Clefairy',
 'Clefable',
 'Claydol',
 'Clawitzer',
 'Clauncher',
 'Clamperl',
 'Cinccino',
 'Chingling',
 'Chinchou',
 'Chimecho',
 'Chimchar',
 'Chikorita',
 'Chespin',
 'Chesnaught',
 'Cherubi',
 'Cherrim',
 'Chatot',
 'Charmeleon',
 'Charmander',
 'Charizard',
 'Chansey',
 'Chandelure',
 'Celebi',
 'Caterpie',
 'Castform',
 'Cascoon',
 'Carvanha',
 'Carracosta',
 'Carnivine',
 'Carbink',
 'Camerupt',
 'Cacturne',
 'Cacnea',
 'Butterfree',
 'Burmy',
 'Bunnelby',
 'Buneary',
 'Bulbasaur',
 'Buizel',
 'Budew',
 'Bronzor',
 'Bronzong',
 'Breloom',
 'Braviary',
 'Braixen',
 'Bouffalant',
 'Bonsly',
 'Boldore',
 'Blitzle',
 'Blissey',
 'Blaziken',
 'Blastoise',
 'Bisharp',
 'Binacle',
 'Bidoof',
 'Bibarel',
 'Bergmite',
 'Bellsprout',
 'Bellossom',
 'Beldum',
 'Beheeyem',
 'Beedrill',
 'Beautifly',
 'Beartic',
 'Bayleef',
 'Bastiodon',
 'Basculin',
 'Barboach',
 'Barbaracle',
 'Banette',
 'Baltoy',
 'Bagon',
 'Azurill',
 'Azumarill',
 'Azelf',
 'Axew',
 'Avalugg',
 'Aurorus',
 'Audino',
 'Articuno',
 'Aron',
 'Aromatisse',
 'Armaldo',
 'Ariados',
 'Archeops',
 'Archen',
 'Arceus',
 'Arcanine',
 'Arbok',
 'Anorith',
 'Ampharos',
 'Amoonguss',
 'Ambipom',
 'Amaura',
 'Altaria',
 'Alomomola',
 'Alakazam',
 'Aipom',
 'Aggron',
 'Aerodactyl',
 'Aegislash',
 'Accelgor',
 'Absol',
 'Abra',
 'Abomasnow']

In [47]:
list(srs)

['Bulbasaur',
 'Ivysaur',
 'Venusaur',
 'Charmander',
 'Charmeleon',
 'Charizard',
 'Squirtle',
 'Wartortle',
 'Blastoise',
 'Caterpie',
 'Metapod',
 'Butterfree',
 'Weedle',
 'Kakuna',
 'Beedrill',
 'Pidgey',
 'Pidgeotto',
 'Pidgeot',
 'Rattata',
 'Raticate',
 'Spearow',
 'Fearow',
 'Ekans',
 'Arbok',
 'Pikachu',
 'Raichu',
 'Sandshrew',
 'Sandslash',
 'Nidoran',
 'Nidorina',
 'Nidoqueen',
 'Nidoran♂',
 'Nidorino',
 'Nidoking',
 'Clefairy',
 'Clefable',
 'Vulpix',
 'Ninetales',
 'Jigglypuff',
 'Wigglytuff',
 'Zubat',
 'Golbat',
 'Oddish',
 'Gloom',
 'Vileplume',
 'Paras',
 'Parasect',
 'Venonat',
 'Venomoth',
 'Diglett',
 'Dugtrio',
 'Meowth',
 'Persian',
 'Psyduck',
 'Golduck',
 'Mankey',
 'Primeape',
 'Growlithe',
 'Arcanine',
 'Poliwag',
 'Poliwhirl',
 'Poliwrath',
 'Abra',
 'Kadabra',
 'Alakazam',
 'Machop',
 'Machoke',
 'Machamp',
 'Bellsprout',
 'Weepinbell',
 'Victreebel',
 'Tentacool',
 'Tentacruel',
 'Geodude',
 'Graveler',
 'Golem',
 'Ponyta',
 'Rapidash',
 'Slowpoke',
 'Slowbro',
 'Magnemite',
 'Magneton',
 "Farfetch'd",
 'Doduo',
 'Dodrio',
 'Seel',
 'Dewgong',
 'Grimer',
 'Muk',
 'Shellder',
 'Cloyster',
 'Gastly',
 'Haunter',
 'Gengar',
 'Onix',
 'Drowzee',
 'Hypno',
 'Krabby',
 'Kingler',
 'Voltorb',
 'Electrode',
 'Exeggcute',
 'Exeggutor',
 'Cubone',
 'Marowak',
 'Hitmonlee',
 'Hitmonchan',
 'Lickitung',
 'Koffing',
 'Weezing',
 'Rhyhorn',
 'Rhydon',
 'Chansey',
 'Tangela',
 'Kangaskhan',
 'Horsea',
 'Seadra',
 'Goldeen',
 'Seaking',
 'Staryu',
 'Starmie',
 'Mr. Mime',
 'Scyther',
 'Jynx',
 'Electabuzz',
 'Magmar',
 'Pinsir',
 'Tauros',
 'Magikarp',
 'Gyarados',
 'Lapras',
 'Ditto',
 'Eevee',
 'Vaporeon',
 'Jolteon',
 'Flareon',
 'Porygon',
 'Omanyte',
 'Omastar',
 'Kabuto',
 'Kabutops',
 'Aerodactyl',
 'Snorlax',
 'Articuno',
 'Zapdos',
 'Moltres',
 'Dratini',
 'Dragonair',
 'Dragonite',
 'Mewtwo',
 'Mew',
 'Chikorita',
 'Bayleef',
 'Meganium',
 'Cyndaquil',
 'Quilava',
 'Typhlosion',
 'Totodile',
 'Croconaw',
 'Feraligatr',
 'Sentret',
 'Furret',
 'Hoothoot',
 'Noctowl',
 'Ledyba',
 'Ledian',
 'Spinarak',
 'Ariados',
 'Crobat',
 'Chinchou',
 'Lanturn',
 'Pichu',
 'Cleffa',
 'Igglybuff',
 'Togepi',
 'Togetic',
 'Natu',
 'Xatu',
 'Mareep',
 'Flaaffy',
 'Ampharos',
 'Bellossom',
 'Marill',
 'Azumarill',
 'Sudowoodo',
 'Politoed',
 'Hoppip',
 'Skiploom',
 'Jumpluff',
 'Aipom',
 'Sunkern',
 'Sunflora',
 'Yanma',
 'Wooper',
 'Quagsire',
 'Espeon',
 'Umbreon',
 'Murkrow',
 'Slowking',
 'Misdreavus',
 'Unown',
 'Wobbuffet',
 'Girafarig',
 'Pineco',
 'Forretress',
 'Dunsparce',
 'Gligar',
 'Steelix',
 'Snubbull',
 'Granbull',
 'Qwilfish',
 'Scizor',
 'Shuckle',
 'Heracross',
 'Sneasel',
 'Teddiursa',
 'Ursaring',
 'Slugma',
 'Magcargo',
 'Swinub',
 'Piloswine',
 'Corsola',
 'Remoraid',
 'Octillery',
 'Delibird',
 'Mantine',
 'Skarmory',
 'Houndour',
 'Houndoom',
 'Kingdra',
 'Phanpy',
 'Donphan',
 'Porygon2',
 'Stantler',
 'Smeargle',
 'Tyrogue',
 'Hitmontop',
 'Smoochum',
 'Elekid',
 'Magby',
 'Miltank',
 'Blissey',
 'Raikou',
 'Entei',
 'Suicune',
 'Larvitar',
 'Pupitar',
 'Tyranitar',
 'Lugia',
 'Ho-oh',
 'Celebi',
 'Treecko',
 'Grovyle',
 'Sceptile',
 'Torchic',
 'Combusken',
 'Blaziken',
 'Mudkip',
 'Marshtomp',
 'Swampert',
 'Poochyena',
 'Mightyena',
 'Zigzagoon',
 'Linoone',
 'Wurmple',
 'Silcoon',
 'Beautifly',
 'Cascoon',
 'Dustox',
 'Lotad',
 'Lombre',
 'Ludicolo',
 'Seedot',
 'Nuzleaf',
 'Shiftry',
 'Taillow',
 'Swellow',
 'Wingull',
 'Pelipper',
 'Ralts',
 'Kirlia',
 'Gardevoir',
 'Surskit',
 'Masquerain',
 'Shroomish',
 'Breloom',
 'Slakoth',
 'Vigoroth',
 'Slaking',
 'Nincada',
 'Ninjask',
 'Shedinja',
 'Whismur',
 'Loudred',
 'Exploud',
 'Makuhita',
 'Hariyama',
 'Azurill',
 'Nosepass',
 'Skitty',
 'Delcatty',
 'Sableye',
 'Mawile',
 'Aron',
 'Lairon',
 'Aggron',
 'Meditite',
 'Medicham',
 'Electrike',
 'Manectric',
 'Plusle',
 'Minun',
 'Volbeat',
 'Illumise',
 'Roselia',
 'Gulpin',
 'Swalot',
 'Carvanha',
 'Sharpedo',
 'Wailmer',
 'Wailord',
 'Numel',
 'Camerupt',
 'Torkoal',
 'Spoink',
 'Grumpig',
 'Spinda',
 'Trapinch',
 'Vibrava',
 'Flygon',
 'Cacnea',
 'Cacturne',
 'Swablu',
 'Altaria',
 'Zangoose',
 'Seviper',
 'Lunatone',
 'Solrock',
 'Barboach',
 'Whiscash',
 'Corphish',
 'Crawdaunt',
 'Baltoy',
 'Claydol',
 'Lileep',
 'Cradily',
 'Anorith',
 'Armaldo',
 'Feebas',
 'Milotic',
 'Castform',
 'Kecleon',
 'Shuppet',
 'Banette',
 'Duskull',
 'Dusclops',
 'Tropius',
 'Chimecho',
 'Absol',
 'Wynaut',
 'Snorunt',
 'Glalie',
 'Spheal',
 'Sealeo',
 'Walrein',
 'Clamperl',
 'Huntail',
 'Gorebyss',
 'Relicanth',
 'Luvdisc',
 'Bagon',
 'Shelgon',
 'Salamence',
 'Beldum',
 'Metang',
 'Metagross',
 'Regirock',
 'Regice',
 'Registeel',
 'Latias',
 'Latios',
 'Kyogre',
 'Groudon',
 'Rayquaza',
 'Jirachi',
 'Deoxys',
 'Turtwig',
 'Grotle',
 'Torterra',
 'Chimchar',
 'Monferno',
 'Infernape',
 'Piplup',
 'Prinplup',
 'Empoleon',
 'Starly',
 'Staravia',
 'Staraptor',
 'Bidoof',
 'Bibarel',
 'Kricketot',
 'Kricketune',
 'Shinx',
 'Luxio',
 'Luxray',
 'Budew',
 'Roserade',
 'Cranidos',
 'Rampardos',
 'Shieldon',
 'Bastiodon',
 'Burmy',
 'Wormadam',
 'Mothim',
 'Combee',
 'Vespiquen',
 'Pachirisu',
 'Buizel',
 'Floatzel',
 'Cherubi',
 'Cherrim',
 'Shellos',
 'Gastrodon',
 'Ambipom',
 'Drifloon',
 'Drifblim',
 'Buneary',
 'Lopunny',
 'Mismagius',
 'Honchkrow',
 'Glameow',
 'Purugly',
 'Chingling',
 'Stunky',
 'Skuntank',
 'Bronzor',
 'Bronzong',
 'Bonsly',
 'Mime Jr.',
 'Happiny',
 'Chatot',
 'Spiritomb',
 'Gible',
 'Gabite',
 'Garchomp',
 'Munchlax',
 'Riolu',
 'Lucario',
 'Hippopotas',
 'Hippowdon',
 'Skorupi',
 'Drapion',
 'Croagunk',
 'Toxicroak',
 'Carnivine',
 'Finneon',
 'Lumineon',
 'Mantyke',
 'Snover',
 'Abomasnow',
 'Weavile',
 'Magnezone',
 'Lickilicky',
 'Rhyperior',
 'Tangrowth',
 'Electivire',
 'Magmortar',
 'Togekiss',
 'Yanmega',
 'Leafeon',
 'Glaceon',
 'Gliscor',
 'Mamoswine',
 'Porygon-Z',
 'Gallade',
 'Probopass',
 'Dusknoir',
 'Froslass',
 'Rotom',
 'Uxie',
 'Mesprit',
 'Azelf',
 'Dialga',
 'Palkia',
 'Heatran',
 'Regigigas',
 'Giratina',
 'Cresselia',
 'Phione',
 'Manaphy',
 'Darkrai',
 'Shaymin',
 'Arceus',
 'Victini',
 'Snivy',
 'Servine',
 'Serperior',
 'Tepig',
 'Pignite',
 'Emboar',
 'Oshawott',
 'Dewott',
 'Samurott',
 'Patrat',
 'Watchog',
 'Lillipup',
 'Herdier',
 'Stoutland',
 'Purrloin',
 'Liepard',
 'Pansage',
 'Simisage',
 'Pansear',
 'Simisear',
 'Panpour',
 'Simipour',
 'Munna',
 'Musharna',
 'Pidove',
 'Tranquill',
 'Unfezant',
 'Blitzle',
 'Zebstrika',
 'Roggenrola',
 'Boldore',
 'Gigalith',
 'Woobat',
 'Swoobat',
 'Drilbur',
 'Excadrill',
 'Audino',
 'Timburr',
 'Gurdurr',
 'Conkeldurr',
 'Tympole',
 'Palpitoad',
 'Seismitoad',
 'Throh',
 'Sawk',
 'Sewaddle',
 'Swadloon',
 'Leavanny',
 'Venipede',
 'Whirlipede',
 'Scolipede',
 'Cottonee',
 'Whimsicott',
 'Petilil',
 'Lilligant',
 'Basculin',
 'Sandile',
 'Krokorok',
 'Krookodile',
 'Darumaka',
 'Darmanitan',
 'Maractus',
 'Dwebble',
 'Crustle',
 'Scraggy',
 'Scrafty',
 'Sigilyph',
 'Yamask',
 'Cofagrigus',
 'Tirtouga',
 'Carracosta',
 'Archen',
 'Archeops',
 'Trubbish',
 'Garbodor',
 'Zorua',
 'Zoroark',
 'Minccino',
 'Cinccino',
 'Gothita',
 'Gothorita',
 'Gothitelle',
 'Solosis',
 'Duosion',
 'Reuniclus',
 'Ducklett',
 'Swanna',
 'Vanillite',
 'Vanillish',
 'Vanilluxe',
 'Deerling',
 'Sawsbuck',
 'Emolga',
 'Karrablast',
 'Escavalier',
 'Foongus',
 'Amoonguss',
 'Frillish',
 'Jellicent',
 'Alomomola',
 'Joltik',
 'Galvantula',
 'Ferroseed',
 'Ferrothorn',
 'Klink',
 'Klang',
 'Klinklang',
 'Tynamo',
 'Eelektrik',
 'Eelektross',
 'Elgyem',
 'Beheeyem',
 'Litwick',
 'Lampent',
 'Chandelure',
 'Axew',
 'Fraxure',
 'Haxorus',
 'Cubchoo',
 'Beartic',
 'Cryogonal',
 'Shelmet',
 'Accelgor',
 'Stunfisk',
 'Mienfoo',
 'Mienshao',
 'Druddigon',
 'Golett',
 'Golurk',
 'Pawniard',
 'Bisharp',
 'Bouffalant',
 'Rufflet',
 'Braviary',
 'Vullaby',
 'Mandibuzz',
 'Heatmor',
 'Durant',
 'Deino',
 'Zweilous',
 'Hydreigon',
 'Larvesta',
 'Volcarona',
 'Cobalion',
 'Terrakion',
 'Virizion',
 'Tornadus',
 'Thundurus',
 'Reshiram',
 'Zekrom',
 'Landorus',
 'Kyurem',
 'Keldeo',
 'Meloetta',
 'Genesect',
 'Chespin',
 'Quilladin',
 'Chesnaught',
 'Fennekin',
 'Braixen',
 'Delphox',
 'Froakie',
 'Frogadier',
 'Greninja',
 'Bunnelby',
 'Diggersby',
 'Fletchling',
 'Fletchinder',
 'Talonflame',
 'Scatterbug',
 'Spewpa',
 'Vivillon',
 'Litleo',
 'Pyroar',
 'Flabébé',
 'Floette',
 'Florges',
 'Skiddo',
 'Gogoat',
 'Pancham',
 'Pangoro',
 'Furfrou',
 'Espurr',
 'Meowstic',
 'Honedge',
 'Doublade',
 'Aegislash',
 'Spritzee',
 'Aromatisse',
 'Swirlix',
 'Slurpuff',
 'Inkay',
 'Malamar',
 'Binacle',
 'Barbaracle',
 'Skrelp',
 'Dragalge',
 'Clauncher',
 'Clawitzer',
 'Helioptile',
 'Heliolisk',
 'Tyrunt',
 'Tyrantrum',
 'Amaura',
 'Aurorus',
 'Sylveon',
 'Hawlucha',
 'Dedenne',
 'Carbink',
 'Goomy',
 'Sliggoo',
 'Goodra',
 'Klefki',
 'Phantump',
 'Trevenant',
 'Pumpkaboo',
 'Gourgeist',
 'Bergmite',
 'Avalugg',
 'Noibat',
 'Noivern',
 'Xerneas',
 'Yveltal',
 'Zygarde',
 'Diancie',
 'Hoopa',
 'Volcanion']

In [48]:
dict(srs)

{0: 'Bulbasaur',
 1: 'Ivysaur',
 2: 'Venusaur',
 3: 'Charmander',
 4: 'Charmeleon',
 5: 'Charizard',
 6: 'Squirtle',
 7: 'Wartortle',
 8: 'Blastoise',
 9: 'Caterpie',
 10: 'Metapod',
 11: 'Butterfree',
 12: 'Weedle',
 13: 'Kakuna',
 14: 'Beedrill',
 15: 'Pidgey',
 16: 'Pidgeotto',
 17: 'Pidgeot',
 18: 'Rattata',
 19: 'Raticate',
 20: 'Spearow',
 21: 'Fearow',
 22: 'Ekans',
 23: 'Arbok',
 24: 'Pikachu',
 25: 'Raichu',
 26: 'Sandshrew',
 27: 'Sandslash',
 28: 'Nidoran',
 29: 'Nidorina',
 30: 'Nidoqueen',
 31: 'Nidoran♂',
 32: 'Nidorino',
 33: 'Nidoking',
 34: 'Clefairy',
 35: 'Clefable',
 36: 'Vulpix',
 37: 'Ninetales',
 38: 'Jigglypuff',
 39: 'Wigglytuff',
 40: 'Zubat',
 41: 'Golbat',
 42: 'Oddish',
 43: 'Gloom',
 44: 'Vileplume',
 45: 'Paras',
 46: 'Parasect',
 47: 'Venonat',
 48: 'Venomoth',
 49: 'Diglett',
 50: 'Dugtrio',
 51: 'Meowth',
 52: 'Persian',
 53: 'Psyduck',
 54: 'Golduck',
 55: 'Mankey',
 56: 'Primeape',
 57: 'Growlithe',
 58: 'Arcanine',
 59: 'Poliwag',
 60: 'Poliwhirl',
 61: 'Poliwrath',
 62: 'Abra',
 63: 'Kadabra',
 64: 'Alakazam',
 65: 'Machop',
 66: 'Machoke',
 67: 'Machamp',
 68: 'Bellsprout',
 69: 'Weepinbell',
 70: 'Victreebel',
 71: 'Tentacool',
 72: 'Tentacruel',
 73: 'Geodude',
 74: 'Graveler',
 75: 'Golem',
 76: 'Ponyta',
 77: 'Rapidash',
 78: 'Slowpoke',
 79: 'Slowbro',
 80: 'Magnemite',
 81: 'Magneton',
 82: "Farfetch'd",
 83: 'Doduo',
 84: 'Dodrio',
 85: 'Seel',
 86: 'Dewgong',
 87: 'Grimer',
 88: 'Muk',
 89: 'Shellder',
 90: 'Cloyster',
 91: 'Gastly',
 92: 'Haunter',
 93: 'Gengar',
 94: 'Onix',
 95: 'Drowzee',
 96: 'Hypno',
 97: 'Krabby',
 98: 'Kingler',
 99: 'Voltorb',
 100: 'Electrode',
 101: 'Exeggcute',
 102: 'Exeggutor',
 103: 'Cubone',
 104: 'Marowak',
 105: 'Hitmonlee',
 106: 'Hitmonchan',
 107: 'Lickitung',
 108: 'Koffing',
 109: 'Weezing',
 110: 'Rhyhorn',
 111: 'Rhydon',
 112: 'Chansey',
 113: 'Tangela',
 114: 'Kangaskhan',
 115: 'Horsea',
 116: 'Seadra',
 117: 'Goldeen',
 118: 'Seaking',
 119: 'Staryu',
 120: 'Starmie',
 121: 'Mr. Mime',
 122: 'Scyther',
 123: 'Jynx',
 124: 'Electabuzz',
 125: 'Magmar',
 126: 'Pinsir',
 127: 'Tauros',
 128: 'Magikarp',
 129: 'Gyarados',
 130: 'Lapras',
 131: 'Ditto',
 132: 'Eevee',
 133: 'Vaporeon',
 134: 'Jolteon',
 135: 'Flareon',
 136: 'Porygon',
 137: 'Omanyte',
 138: 'Omastar',
 139: 'Kabuto',
 140: 'Kabutops',
 141: 'Aerodactyl',
 142: 'Snorlax',
 143: 'Articuno',
 144: 'Zapdos',
 145: 'Moltres',
 146: 'Dratini',
 147: 'Dragonair',
 148: 'Dragonite',
 149: 'Mewtwo',
 150: 'Mew',
 151: 'Chikorita',
 152: 'Bayleef',
 153: 'Meganium',
 154: 'Cyndaquil',
 155: 'Quilava',
 156: 'Typhlosion',
 157: 'Totodile',
 158: 'Croconaw',
 159: 'Feraligatr',
 160: 'Sentret',
 161: 'Furret',
 162: 'Hoothoot',
 163: 'Noctowl',
 164: 'Ledyba',
 165: 'Ledian',
 166: 'Spinarak',
 167: 'Ariados',
 168: 'Crobat',
 169: 'Chinchou',
 170: 'Lanturn',
 171: 'Pichu',
 172: 'Cleffa',
 173: 'Igglybuff',
 174: 'Togepi',
 175: 'Togetic',
 176: 'Natu',
 177: 'Xatu',
 178: 'Mareep',
 179: 'Flaaffy',
 180: 'Ampharos',
 181: 'Bellossom',
 182: 'Marill',
 183: 'Azumarill',
 184: 'Sudowoodo',
 185: 'Politoed',
 186: 'Hoppip',
 187: 'Skiploom',
 188: 'Jumpluff',
 189: 'Aipom',
 190: 'Sunkern',
 191: 'Sunflora',
 192: 'Yanma',
 193: 'Wooper',
 194: 'Quagsire',
 195: 'Espeon',
 196: 'Umbreon',
 197: 'Murkrow',
 198: 'Slowking',
 199: 'Misdreavus',
 200: 'Unown',
 201: 'Wobbuffet',
 202: 'Girafarig',
 203: 'Pineco',
 204: 'Forretress',
 205: 'Dunsparce',
 206: 'Gligar',
 207: 'Steelix',
 208: 'Snubbull',
 209: 'Granbull',
 210: 'Qwilfish',
 211: 'Scizor',
 212: 'Shuckle',
 213: 'Heracross',
 214: 'Sneasel',
 215: 'Teddiursa',
 216: 'Ursaring',
 217: 'Slugma',
 218: 'Magcargo',
 219: 'Swinub',
 220: 'Piloswine',
 221: 'Corsola',
 222: 'Remoraid',
 223: 'Octillery',
 224: 'Delibird',
 225: 'Mantine',
 226: 'Skarmory',
 227: 'Houndour',
 228: 'Houndoom',
 229: 'Kingdra',
 230: 'Phanpy',
 231: 'Donphan',
 232: 'Porygon2',
 233: 'Stantler',
 234: 'Smeargle',
 235: 'Tyrogue',
 236: 'Hitmontop',
 237: 'Smoochum',
 238: 'Elekid',
 239: 'Magby',
 240: 'Miltank',
 241: 'Blissey',
 242: 'Raikou',
 243: 'Entei',
 244: 'Suicune',
 245: 'Larvitar',
 246: 'Pupitar',
 247: 'Tyranitar',
 248: 'Lugia',
 249: 'Ho-oh',
 250: 'Celebi',
 251: 'Treecko',
 252: 'Grovyle',
 253: 'Sceptile',
 254: 'Torchic',
 255: 'Combusken',
 256: 'Blaziken',
 257: 'Mudkip',
 258: 'Marshtomp',
 259: 'Swampert',
 260: 'Poochyena',
 261: 'Mightyena',
 262: 'Zigzagoon',
 263: 'Linoone',
 264: 'Wurmple',
 265: 'Silcoon',
 266: 'Beautifly',
 267: 'Cascoon',
 268: 'Dustox',
 269: 'Lotad',
 270: 'Lombre',
 271: 'Ludicolo',
 272: 'Seedot',
 273: 'Nuzleaf',
 274: 'Shiftry',
 275: 'Taillow',
 276: 'Swellow',
 277: 'Wingull',
 278: 'Pelipper',
 279: 'Ralts',
 280: 'Kirlia',
 281: 'Gardevoir',
 282: 'Surskit',
 283: 'Masquerain',
 284: 'Shroomish',
 285: 'Breloom',
 286: 'Slakoth',
 287: 'Vigoroth',
 288: 'Slaking',
 289: 'Nincada',
 290: 'Ninjask',
 291: 'Shedinja',
 292: 'Whismur',
 293: 'Loudred',
 294: 'Exploud',
 295: 'Makuhita',
 296: 'Hariyama',
 297: 'Azurill',
 298: 'Nosepass',
 299: 'Skitty',
 300: 'Delcatty',
 301: 'Sableye',
 302: 'Mawile',
 303: 'Aron',
 304: 'Lairon',
 305: 'Aggron',
 306: 'Meditite',
 307: 'Medicham',
 308: 'Electrike',
 309: 'Manectric',
 310: 'Plusle',
 311: 'Minun',
 312: 'Volbeat',
 313: 'Illumise',
 314: 'Roselia',
 315: 'Gulpin',
 316: 'Swalot',
 317: 'Carvanha',
 318: 'Sharpedo',
 319: 'Wailmer',
 320: 'Wailord',
 321: 'Numel',
 322: 'Camerupt',
 323: 'Torkoal',
 324: 'Spoink',
 325: 'Grumpig',
 326: 'Spinda',
 327: 'Trapinch',
 328: 'Vibrava',
 329: 'Flygon',
 330: 'Cacnea',
 331: 'Cacturne',
 332: 'Swablu',
 333: 'Altaria',
 334: 'Zangoose',
 335: 'Seviper',
 336: 'Lunatone',
 337: 'Solrock',
 338: 'Barboach',
 339: 'Whiscash',
 340: 'Corphish',
 341: 'Crawdaunt',
 342: 'Baltoy',
 343: 'Claydol',
 344: 'Lileep',
 345: 'Cradily',
 346: 'Anorith',
 347: 'Armaldo',
 348: 'Feebas',
 349: 'Milotic',
 350: 'Castform',
 351: 'Kecleon',
 352: 'Shuppet',
 353: 'Banette',
 354: 'Duskull',
 355: 'Dusclops',
 356: 'Tropius',
 357: 'Chimecho',
 358: 'Absol',
 359: 'Wynaut',
 360: 'Snorunt',
 361: 'Glalie',
 362: 'Spheal',
 363: 'Sealeo',
 364: 'Walrein',
 365: 'Clamperl',
 366: 'Huntail',
 367: 'Gorebyss',
 368: 'Relicanth',
 369: 'Luvdisc',
 370: 'Bagon',
 371: 'Shelgon',
 372: 'Salamence',
 373: 'Beldum',
 374: 'Metang',
 375: 'Metagross',
 376: 'Regirock',
 377: 'Regice',
 378: 'Registeel',
 379: 'Latias',
 380: 'Latios',
 381: 'Kyogre',
 382: 'Groudon',
 383: 'Rayquaza',
 384: 'Jirachi',
 385: 'Deoxys',
 386: 'Turtwig',
 387: 'Grotle',
 388: 'Torterra',
 389: 'Chimchar',
 390: 'Monferno',
 391: 'Infernape',
 392: 'Piplup',
 393: 'Prinplup',
 394: 'Empoleon',
 395: 'Starly',
 396: 'Staravia',
 397: 'Staraptor',
 398: 'Bidoof',
 399: 'Bibarel',
 400: 'Kricketot',
 401: 'Kricketune',
 402: 'Shinx',
 403: 'Luxio',
 404: 'Luxray',
 405: 'Budew',
 406: 'Roserade',
 407: 'Cranidos',
 408: 'Rampardos',
 409: 'Shieldon',
 410: 'Bastiodon',
 411: 'Burmy',
 412: 'Wormadam',
 413: 'Mothim',
 414: 'Combee',
 415: 'Vespiquen',
 416: 'Pachirisu',
 417: 'Buizel',
 418: 'Floatzel',
 419: 'Cherubi',
 420: 'Cherrim',
 421: 'Shellos',
 422: 'Gastrodon',
 423: 'Ambipom',
 424: 'Drifloon',
 425: 'Drifblim',
 426: 'Buneary',
 427: 'Lopunny',
 428: 'Mismagius',
 429: 'Honchkrow',
 430: 'Glameow',
 431: 'Purugly',
 432: 'Chingling',
 433: 'Stunky',
 434: 'Skuntank',
 435: 'Bronzor',
 436: 'Bronzong',
 437: 'Bonsly',
 438: 'Mime Jr.',
 439: 'Happiny',
 440: 'Chatot',
 441: 'Spiritomb',
 442: 'Gible',
 443: 'Gabite',
 444: 'Garchomp',
 445: 'Munchlax',
 446: 'Riolu',
 447: 'Lucario',
 448: 'Hippopotas',
 449: 'Hippowdon',
 450: 'Skorupi',
 451: 'Drapion',
 452: 'Croagunk',
 453: 'Toxicroak',
 454: 'Carnivine',
 455: 'Finneon',
 456: 'Lumineon',
 457: 'Mantyke',
 458: 'Snover',
 459: 'Abomasnow',
 460: 'Weavile',
 461: 'Magnezone',
 462: 'Lickilicky',
 463: 'Rhyperior',
 464: 'Tangrowth',
 465: 'Electivire',
 466: 'Magmortar',
 467: 'Togekiss',
 468: 'Yanmega',
 469: 'Leafeon',
 470: 'Glaceon',
 471: 'Gliscor',
 472: 'Mamoswine',
 473: 'Porygon-Z',
 474: 'Gallade',
 475: 'Probopass',
 476: 'Dusknoir',
 477: 'Froslass',
 478: 'Rotom',
 479: 'Uxie',
 480: 'Mesprit',
 481: 'Azelf',
 482: 'Dialga',
 483: 'Palkia',
 484: 'Heatran',
 485: 'Regigigas',
 486: 'Giratina',
 487: 'Cresselia',
 488: 'Phione',
 489: 'Manaphy',
 490: 'Darkrai',
 491: 'Shaymin',
 492: 'Arceus',
 493: 'Victini',
 494: 'Snivy',
 495: 'Servine',
 496: 'Serperior',
 497: 'Tepig',
 498: 'Pignite',
 499: 'Emboar',
 500: 'Oshawott',
 501: 'Dewott',
 502: 'Samurott',
 503: 'Patrat',
 504: 'Watchog',
 505: 'Lillipup',
 506: 'Herdier',
 507: 'Stoutland',
 508: 'Purrloin',
 509: 'Liepard',
 510: 'Pansage',
 511: 'Simisage',
 512: 'Pansear',
 513: 'Simisear',
 514: 'Panpour',
 515: 'Simipour',
 516: 'Munna',
 517: 'Musharna',
 518: 'Pidove',
 519: 'Tranquill',
 520: 'Unfezant',
 521: 'Blitzle',
 522: 'Zebstrika',
 523: 'Roggenrola',
 524: 'Boldore',
 525: 'Gigalith',
 526: 'Woobat',
 527: 'Swoobat',
 528: 'Drilbur',
 529: 'Excadrill',
 530: 'Audino',
 531: 'Timburr',
 532: 'Gurdurr',
 533: 'Conkeldurr',
 534: 'Tympole',
 535: 'Palpitoad',
 536: 'Seismitoad',
 537: 'Throh',
 538: 'Sawk',
 539: 'Sewaddle',
 540: 'Swadloon',
 541: 'Leavanny',
 542: 'Venipede',
 543: 'Whirlipede',
 544: 'Scolipede',
 545: 'Cottonee',
 546: 'Whimsicott',
 547: 'Petilil',
 548: 'Lilligant',
 549: 'Basculin',
 550: 'Sandile',
 551: 'Krokorok',
 552: 'Krookodile',
 553: 'Darumaka',
 554: 'Darmanitan',
 555: 'Maractus',
 556: 'Dwebble',
 557: 'Crustle',
 558: 'Scraggy',
 559: 'Scrafty',
 560: 'Sigilyph',
 561: 'Yamask',
 562: 'Cofagrigus',
 563: 'Tirtouga',
 564: 'Carracosta',
 565: 'Archen',
 566: 'Archeops',
 567: 'Trubbish',
 568: 'Garbodor',
 569: 'Zorua',
 570: 'Zoroark',
 571: 'Minccino',
 572: 'Cinccino',
 573: 'Gothita',
 574: 'Gothorita',
 575: 'Gothitelle',
 576: 'Solosis',
 577: 'Duosion',
 578: 'Reuniclus',
 579: 'Ducklett',
 580: 'Swanna',
 581: 'Vanillite',
 582: 'Vanillish',
 583: 'Vanilluxe',
 584: 'Deerling',
 585: 'Sawsbuck',
 586: 'Emolga',
 587: 'Karrablast',
 588: 'Escavalier',
 589: 'Foongus',
 590: 'Amoonguss',
 591: 'Frillish',
 592: 'Jellicent',
 593: 'Alomomola',
 594: 'Joltik',
 595: 'Galvantula',
 596: 'Ferroseed',
 597: 'Ferrothorn',
 598: 'Klink',
 599: 'Klang',
 600: 'Klinklang',
 601: 'Tynamo',
 602: 'Eelektrik',
 603: 'Eelektross',
 604: 'Elgyem',
 605: 'Beheeyem',
 606: 'Litwick',
 607: 'Lampent',
 608: 'Chandelure',
 609: 'Axew',
 610: 'Fraxure',
 611: 'Haxorus',
 612: 'Cubchoo',
 613: 'Beartic',
 614: 'Cryogonal',
 615: 'Shelmet',
 616: 'Accelgor',
 617: 'Stunfisk',
 618: 'Mienfoo',
 619: 'Mienshao',
 620: 'Druddigon',
 621: 'Golett',
 622: 'Golurk',
 623: 'Pawniard',
 624: 'Bisharp',
 625: 'Bouffalant',
 626: 'Rufflet',
 627: 'Braviary',
 628: 'Vullaby',
 629: 'Mandibuzz',
 630: 'Heatmor',
 631: 'Durant',
 632: 'Deino',
 633: 'Zweilous',
 634: 'Hydreigon',
 635: 'Larvesta',
 636: 'Volcarona',
 637: 'Cobalion',
 638: 'Terrakion',
 639: 'Virizion',
 640: 'Tornadus',
 641: 'Thundurus',
 642: 'Reshiram',
 643: 'Zekrom',
 644: 'Landorus',
 645: 'Kyurem',
 646: 'Keldeo',
 647: 'Meloetta',
 648: 'Genesect',
 649: 'Chespin',
 650: 'Quilladin',
 651: 'Chesnaught',
 652: 'Fennekin',
 653: 'Braixen',
 654: 'Delphox',
 655: 'Froakie',
 656: 'Frogadier',
 657: 'Greninja',
 658: 'Bunnelby',
 659: 'Diggersby',
 660: 'Fletchling',
 661: 'Fletchinder',
 662: 'Talonflame',
 663: 'Scatterbug',
 664: 'Spewpa',
 665: 'Vivillon',
 666: 'Litleo',
 667: 'Pyroar',
 668: 'Flabébé',
 669: 'Floette',
 670: 'Florges',
 671: 'Skiddo',
 672: 'Gogoat',
 673: 'Pancham',
 674: 'Pangoro',
 675: 'Furfrou',
 676: 'Espurr',
 677: 'Meowstic',
 678: 'Honedge',
 679: 'Doublade',
 680: 'Aegislash',
 681: 'Spritzee',
 682: 'Aromatisse',
 683: 'Swirlix',
 684: 'Slurpuff',
 685: 'Inkay',
 686: 'Malamar',
 687: 'Binacle',
 688: 'Barbaracle',
 689: 'Skrelp',
 690: 'Dragalge',
 691: 'Clauncher',
 692: 'Clawitzer',
 693: 'Helioptile',
 694: 'Heliolisk',
 695: 'Tyrunt',
 696: 'Tyrantrum',
 697: 'Amaura',
 698: 'Aurorus',
 699: 'Sylveon',
 700: 'Hawlucha',
 701: 'Dedenne',
 702: 'Carbink',
 703: 'Goomy',
 704: 'Sliggoo',
 705: 'Goodra',
 706: 'Klefki',
 707: 'Phantump',
 708: 'Trevenant',
 709: 'Pumpkaboo',
 710: 'Gourgeist',
 711: 'Bergmite',
 712: 'Avalugg',
 713: 'Noibat',
 714: 'Noivern',
 715: 'Xerneas',
 716: 'Yveltal',
 717: 'Zygarde',
 718: 'Diancie',
 719: 'Hoopa',
 720: 'Volcanion'}

In [51]:
srs.sort_values(ascending=False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [3]:
srs2 = pd.read_csv("resources/pokemon.csv", 
            index_col="Pokemon").squeeze("columns")

In [4]:
srs2.sort_index(inplace=True)

In [21]:
srs2

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [63]:
"Abra" in srs2

True

In [64]:
"Grass" in srs2.values

True

In [65]:
srs2.index

Index(['Abomasnow', 'Abra', 'Absol', 'Accelgor', 'Aegislash', 'Aerodactyl',
       'Aggron', 'Aipom', 'Alakazam', 'Alomomola',
       ...
       'Zangoose', 'Zapdos', 'Zebstrika', 'Zekrom', 'Zigzagoon', 'Zoroark',
       'Zorua', 'Zubat', 'Zweilous', 'Zygarde'],
      dtype='object', name='Pokemon', length=721)

In [66]:
type(srs2.index)

pandas.core.indexes.base.Index

In [67]:
srs2['Abomasnow']

'Grass'

In [68]:
srs[0]

'Bulbasaur'

In [69]:
srs[[0, 10, 20]]

0     Bulbasaur
10      Metapod
20      Spearow
Name: Pokemon, dtype: object

In [70]:
srs[0:8]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
Name: Pokemon, dtype: object

In [71]:
srs[0:8:2]

0     Bulbasaur
2      Venusaur
4    Charmeleon
6      Squirtle
Name: Pokemon, dtype: object

In [72]:
srs[:3]

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [73]:
srs[715:]

715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [74]:
srs[-20:]

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [75]:
srs2[0:10]

Pokemon
Abomasnow       Grass
Abra          Psychic
Absol            Dark
Accelgor          Bug
Aegislash       Steel
Aerodactyl       Rock
Aggron          Steel
Aipom          Normal
Alakazam      Psychic
Alomomola       Water
Name: Type, dtype: object

In [76]:
srs2[["Xerneas", "Diancie"]]

Pokemon
Xerneas    Fairy
Diancie     Rock
Name: Type, dtype: object

In [78]:
srs2.get("Xerneas")

'Fairy'

In [82]:
srs2.get("Xerneas1", "Mevcut Değil")

'Mevcut Değil'

In [83]:
srs

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [84]:
srs[0] = "Bu ne biçim ders"
srs

0      Bu ne biçim ders
1               Ivysaur
2              Venusaur
3            Charmander
4            Charmeleon
             ...
716             Yveltal
717             Zygarde
718             Diancie
719               Hoopa
720           Volcanion
Name: Pokemon, Length: 721, dtype: object

In [6]:
srs2[[1, 3, 5]] = ["A", "L", "İ"]
srs2.head(6)

/tmp/ipykernel_3431/4009730054.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  srs2[[1, 3, 5]] = ["A", "L", "İ"]

Pokemon
Abomasnow     Grass
Abra              A
Absol          Dark
Accelgor          L
Aegislash     Steel
Aerodactyl        İ
Name: Type, dtype: object

In [8]:
srs3 = srs2.copy()

In [9]:
srs3

Pokemon
Abomasnow     Grass
Abra              A
Absol          Dark
Accelgor          L
Aegislash     Steel
              ...
Zoroark        Dark
Zorua          Dark
Zubat        Poison
Zweilous       Dark
Zygarde      Dragon
Name: Type, Length: 721, dtype: object

In [90]:
srs3[0] = "new"
srs3.head()

Pokemon
Abomasnow        new
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [91]:
srs2.head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [92]:
liste = [1, 2, 3, None, 4]

seri = pd.Series(liste)
seri

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
dtype: float64

In [94]:
seri.size

5

In [95]:
len(seri)

5

In [96]:
seri.count()

4

In [97]:
nba = pd.read_csv("resources/nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [99]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [101]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [102]:
nba.shape

(458, 9)

In [103]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [104]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [105]:
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [106]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [107]:
revenue = pd.read_csv("resources/revenue.csv", index_col="Date")
revenue

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [111]:
revenue.sum()
revenue.sum(axis=0)
revenue.sum(axis="index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [114]:
revenue.sum(axis=1)
revenue.sum(axis="columns")

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [117]:
nba.Number

0       0.0
1      99.0
2      30.0
3      28.0
4       8.0
       ...
453     8.0
454    25.0
455    21.0
456    24.0
457     NaN
Name: Number, Length: 458, dtype: float64

In [118]:
nba["Name"]

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [119]:
nba[["Name", "Position", "Salary"]]

              Name Position     Salary
0    Avery Bradley       PG  7730337.0
1      Jae Crowder       SF  6796117.0
2     John Holland       SG        NaN
3      R.J. Hunter       SG  1148640.0
4    Jonas Jerebko       PF  5000000.0
..             ...      ...        ...
453   Shelvin Mack       PG  2433333.0
454      Raul Neto       PG   900000.0
455   Tibor Pleiss        C  2900000.0
456    Jeff Withey        C   947276.0
457            NaN      NaN        NaN

[458 rows x 3 columns]

In [120]:
nba["College"] = "SDÜ"
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,SDÜ,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,SDÜ,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,SDÜ,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,SDÜ,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,SDÜ,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,SDÜ,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,SDÜ,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,SDÜ,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,SDÜ,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SDÜ,NaN

In [121]:
nba.to_csv("resources/nba_new.csv")